* {
  margin: 0;

}

#books-container {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-left: 20%;
  border: solid black;
}

#title {
  width: 50%;
  border: solid black;
}

#book-collection-title {
  margin-left: 40%;
}

#author {
  width: 50%;
  border: solid black;
}

.book-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.book-item p {
  margin-left: 2%;
}

.book-item button {
  height: max-content;
  margin-top: 2%;
  border: solid black;
  border-width: medium;
  margin-right: 2%;
}

.even {
  background-color: rgb(177, 173, 173);
}

.form-title {
  font-weight: bolder;
}

.form {
  display: flex;
  flex-direction: column;
  margin-left: 40%;
  row-gap: 5px;
  
}

.input {
  width: 50%;
}

#btn {
  width: 10%;
  margin-left: 41%;
}
ul {
  list-style: none;
  display: flex;
  text-decoration: none;
  column-gap: 7px;
}
ul li a {
  text-decoration: none;
}
.navigation {
  display: flex;
  justify-content: space-between;
  margin: 3%;
  border: solid black;
  padding: 5px;

}
.remove {
  display: none;
}
#logo {
  text-decoration: none;
  color: black;
}
#about {
  margin-left: 20%;
}
.about-list {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  margin-top: 2%;
  list-style-type: disc;
}
.contact p {
   margin-top: 2%;
}
.footer {
  margin: 3%;
  border: solid black;

}
.foot {
  margin-left: 2%;
  padding: 5px;
}
#time {
  float: right;
  margin-right: 5%;
  margin-top: -2%;
}